#content{
	.secao-a{
		.container{
			padding:25px 0;

			.solucoes-quadro{
				border:1px solid #f0f2f4;

				.quadro-cima{
					background-color:#9e151a;
					color:#FFFFFF;
					min-height: 333px;

					p{
						padding:20px 5px;
					}
					img{
						width: 100%;
						margin-top: 8px;
					}
				}
				.quadro-baixo{
					padding: 15px 5px;
					strong{
						color:#9e151a;
					}
					img{
						margin: 15px 0;
					}		
				}
			}
			.solucoes-quadro:hover{
				border:1px solid #9e151a;
			}

			.parceiros{
				img{
					-webkit-filter: grayscale(100%); 
					filter: grayscale(100%);				
				}
				img:hover{
					-webkit-filter: none; 
					filter: none;				
				}
			}
		}
	}

	.secao-b{
	    background-color: #f0f2f4;

		.container{
			padding:25px 0;

		}

		.sistema-henji{
			text-align: left;
			div.col-md-2{
				text-align: right;
			}
			h4{
				text-align:center;
			}

			h5{
				color:#9e151a;
			}

			.botaoa, .botaob, .botaoc, .botaod, .botaoe{
				cursor: pointer;
			}

			.row{
				padding:10px 0;

				ul{
					li{
						padding:3px 0;
					}
				}
			}
		}

		.parceiros-pag{
			img{
				width: 100%;
			}
		}

	}

	.secao-c{
	    background-color:#9e151a;

		.container{
			padding:25px 0;
			color:#FFFFFF;

			img{
				margin-left: 20px;
			}

			p.senha-temp-box{
				margin: 0;
			}
		}
	}

	.banner-menu{
		div{
			padding:15px 20px;
			h4{
				margin: 0;
				a{
					color:#FFFFFF;	
				}	
				a:hover{
					color:#2d9e9a;	
				}							
			}
	
		}
		.blog-categoria-a{
			background-color:#6f090d;
		}
		.blog-categoria-b{
			background-color:#921318;
		}
		.blog-categoria-c{
			background-color:#c51b22;
		}
	}

	aside{
		overflow: hidden;
	}

	.newsletter-blog{
		margin-bottom: 20px;

		.head{
			img{
				width: 100%;
			}
		}
		.content{
			padding:10px;
			background-color:#f7f7f7;
		}
	}
	
	.blog-articles{
		padding:50px 0;

		article{
			text-align: left;
			padding-bottom: 30px;
			margin-bottom: 40px;
			border-bottom:1px dotted black;

			img{
				max-width: 100%;
			}

			h2{
				a{
					color:#9e151a;
				}
			}
		}
		article:last-child{
			border-bottom:none;
		}
	}

	.blog-articles-single{
		article{
			text-align: left;
			padding-bottom: 30px;
			margin-bottom: 40px;

			div{
				p:first-of-type{
					margin:0;
					padding:0;
					height: 0;
				}						
			}
			

		}

	}

	.solucoes-locadoras{
		.solucoes-padding{
			padding:10px;
			padding-right:10px;
		}
	}

	.sistema-locacao{
		h3{
			min-height: 52px;
		}
	}

	.conheca-henji{
		text-align: left;

		ul.conheca-dados{
			li{
				list-style: none;
				margin: 15px 0;
			}
		}
	}

	.planos-henji{
		.planos{
			li{
				background-color:#FFFFFF;
				padding:10px 20px;
				margin:5px 0;
				list-style: none;
			}

			li.head{
				color: #FFFFFF;
				background-color:#9e151a;
				h3{
					color: #FFFFFF;
				}
			}
		}
	}

	#newsletter-background{
		width: 100%;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+50,000000+50,000000+50 */
		background: #feffff; /* Old browsers */
		background: -moz-linear-gradient(left,  #9e151a 43%, #f0f2f4 43%, #f0f2f4 43%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(43%,#feffff), color-stop(43%,#f0f2f4), color-stop(43%,#f0f2f4)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #d60258 43%,#f0f2f4 43%,#f0f2f4 43%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #9e151a 43%,#f0f2f4 43%,#f0f2f4 43%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #9e151a 43%,#f0f2f4 43%,#f0f2f4 43%); /* IE10+ */
		background: linear-gradient(to right,  #9e151a 43%,#f0f2f4 43%,#f0f2f4 43%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#000000',GradientType=1 ); /* IE6-9 */

		.news-esquerdo{
			background-color:#9e151a;
			padding:20px 15px;

			img{
				width: 90%;
			}
		}

		.news-direito{
			background-color:#f0f2f4;
			text-align: left;
			padding:0;
			min-height: 119px;

			img{
				margin: 40px 0;
			}

			.newsletter-texto{
				margin: 0;
				margin-top: 35px;
				p{
					margin: 0;
				}
			}

			.newsletter-nome-wrap{
				margin: 0;
			}
			.newsletter-nome{
				padding: 15px 5px;
				margin-top: 35px;
			}
			.newsletter-email-wrap{
				margin: 0;
			}
			.newsletter-email{
				padding: 15px 5px;
				margin-top: 35px;
			}
			.newsletter-enviar{
				padding: 15px;
				background-image: none;
				background-color: #9e151a;
				color:white;
				border:0;
				margin-top: 35px;
			}
			.newsletter-enviar:hover{
			    opacity: 0.6;
			    filter: alpha(opacity=60); /* For IE8 and earlier */
			}
		}


	}

}

@media (max-width: 991px) {  
	#content{
		#newsletter-background{
			background: #feffff; /* Old browsers */

		}
		.secao-b{

			.sistema-henji{
				div.col-md-2{
					text-align: center!important;
				}
			}
		}
		.blog-articles-single{
			article{
				text-align: left;
				padding-bottom: 30px;
				margin-bottom: 40px;

				div{
					p:first-of-type{
						margin:0;
						padding:0;
						height: 0;
					}

					img{
						width: 100%;
					}						
				}
				

			}

		}
		
	}
}

@media (min-width: 992px) {  
  
}
