#header{
    nav{
        .container{
            ul{
                margin: 0;
                li{
                    list-style: none;
                    float:left;

                    a{
                        display: inline-block;
                        padding: 10px;
                        color:#FFFFFF;
                    }
                }
            }        
        }

    }
    nav.menu-aux{
        .dados-topo{
            padding-left:0;
            
            li{
                padding: 10px;
                color:#FFFFFF;
                font-size: small;                
            }
        }
        .dados-topo-vermelho{
            padding-left:0;
            li{
                padding: 10px;
                color:#9e151a;
                font-size: small;                
            }     
        }

        .redes_sociais_header{
            margin-top: 10px;
            margin-bottom: 5px;
            height: 22px;
            text-align: left;
            list-style:none;
            float:right;
            padding-left: 10px;
        }

        .redes_sociais_header li:hover{
            opacity: 0.6;
            filter: alpha(opacity=60); /* For IE8 and earlier */
        }

        .redes_sociais_header a{
            display: inline-block;
            width:22px;
            height:20px;
        }

        .redes_sociais_header .youtube{
            background-image: url("images/redes-sociais.png");
            background-position: left,center;
            background-repeat:no-repeat;
            width:22px;
            height:20px;
            display:inline-block;       
        }

        .redes_sociais_header .instagram{
            background-image: url("images/redes-sociais.png");
            background-position: -26px,center;
            background-repeat:no-repeat;
            width:22px;
            height:20px;
            display:inline-block;       
        }

        .redes_sociais_header .twitter{
            background-image: url("images/redes-sociais.png");
            background-position: -52px,center;
            background-repeat:no-repeat;
            width:22px;
            height:20px;
            display:inline-block;       
        }

        .redes_sociais_header .facebook{
            background-image: url("images/redes-sociais.png");
            background-position: -80px,center;
            background-repeat:no-repeat;
            width:22px;
            height:20px;
            display:inline-block;       
        }

    }



    nav.menu-aux{
        .blog{
            ul{
                padding-left:0;
                li{
                    color:#9e151a;
                    a{
                        color:#9e151a;
                    }
                }
            }  
           
        }
        .container{
            ul{
                li{
                    a:hover{
                        color:#2d9e9a;
                    }
                }
            }        
        } 
    }

    nav.menu-principal{
        background-color:#9e151a;

        .container{
            .botao-menu-responsivo{
                float:left;
                margin-right: 20px;
                margin-top: 12px;

                .dropdown-menu{
                    li{
                        width: 100%;
                        a{
                            width: 100%;
                            color:#606060;
                        }
                        a:hover{
                            background-color:#f0f2f4;
                        }
                    }
                }
            }

            .logo-header{
                padding: 7px;
                margin-right: 20px;
            }
            .wrap-searchform{
                float:right;
                .search-form{
                    padding:10px;

                    .pesquisar-input{
                        float:left;
                        padding:6px;
                    }
                    .pesquisar-submit{
                       float:left;
                    }
                }                
            }


            ul{
                li{
                    a{
                        display: inline-block;
                        padding:20px 30px;
                    }
                    a:hover{
                        text-decoration: none;
                        background-color:#BE191F;
                    }
                }
            }        
        } 

    }    
}

header.banner-contrate{
    background-image: url("images/banner-contrate.png");
    width: 100%;
    height: 579px;

    .banner-formulario{
        padding:30px 0;
        text-align: left;

        color: #FFFFFF;
        h2{
            color: #FFFFFF;
        }

        .form-criacao-site{
            padding:20px;
            background-color:#9e151a;
            background-color:rgba(111,10,13,0.7);  
            form{
                input[type=text]{  
                    color:#606060;
                }                
            }        
        }   
    }
}

header.banner-solicite-uma-senha{
    background-image: url("images/banner-solicite-uma-senha.png");
    width: 100%;
    height: 579px;

    .banner-formulario{
        padding:5px 0;
        text-align: left;

        color: #FFFFFF;
        h2{
            color: #FFFFFF;
        }

        .form-solicite-uma-senha{
            padding:20px;
            margin-top: 25px;
            background-color:#9e151a;
            background-color:rgba(111,10,13,0.7);  
            form{
                input[type=text]{  
                    color:#606060;
                }                
            }        
        }   
    }
}

header.banner-locacao-de-maquinas{
    background-image: url("images/banner-locacao-de-maquinas.png");
    width: 100%;
    height: 579px;

    .banner-formulario{
        padding:80px 0;
        text-align: left;

        color: #FFFFFF;
        h2{
            color: #FFFFFF;
        }
        h3{
            color: #FFFFFF;
        }
        .form-criacao-site{
            background-color:#9e151a;
            background-color:rgba(111,10,13,0.7);       
        }   
    }
}

header.banner-sistema-henji{
    background-image: url("images/banner-sistema-henji.png");
    width: 100%;
    height: 579px;

    .banner-formulario{
        padding:80px 0;
        text-align: left;

        color: #FFFFFF;
        h2{
            color: #FFFFFF;
        }
        h3{
            color: #FFFFFF;
        }
        .form-criacao-site{
            background-color:#9e151a;
            background-color:rgba(111,10,13,0.7);       
        }   
    }
}

header.banner-criacao-de-site{
    background-image: url("images/banner-solicite-uma-senha.png");
    width: 100%;
    height: 579px;

    .banner-formulario{
        padding:80px 0;
        text-align: left;

        color: #FFFFFF;
        h2{
            color: #FFFFFF;
        }

        h3{
            color:#FFFFFF;
        }

        .form-criacao-site{
            background-color:#9e151a;
            background-color:rgba(111,10,13,0.7); 
 
        }   
    }
}

header.banner-gmd{
    background-image: url("images/banner-gmd.png");
    width: 100%;
    height: 579px;

    .banner-formulario{
        padding:80px 0;
        text-align: left;

        color: #FFFFFF;
        h2{
            color: #FFFFFF;
        }

        h3{
            color:#FFFFFF;
        }

        .form-criacao-site{
            background-color:#9e151a;
            background-color:rgba(111,10,13,0.7);       
        }   
    }
}

@media (max-width: 991px) {  
    #header{
        nav.menu-aux{
            .dados-topo{
                display: none;
            }   
            .dados-topo-vermelho{
                display: none;
            }               
        }
        nav.menu-principal{
            .wrap-searchform:before{
                clear:both;
            }
            .wrap-searchform{
                float:left!important;
                margin-bottom: 10px;
            }
            .menu-opcoes{
                display:none;
            }
            .botao-menu-responsivo{
                display: inline-block;
            }
        }
    }   

    .banner-formulario{
        h2{
            font-size: 22px
        }
        h3{
            font-size: 15px;
        }
        p{
            font-size: 12px;
        }
        .responsivo-solicite{
            display: none;
        }
        
    }
}

@media (min-width: 992px) {  
    #header{
        nav.menu-principal{
            .botao-menu-responsivo{
                display: none;
            }
        }
    }    
}